<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/multi_choice_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/multi_choice_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MulitChoice"
        tools:targetApi="31">

        <activity
            android:name=".SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".liveScoresPage.LivescoresActivity"
            android:exported="false" />
        <activity
            android:name=".dashboardPage.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".transactionDetails.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".signUpPage.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".employeeDatabasePage.SaveUsersActivity"
            android:exported="false" />
        <activity
            android:name=".employeeDatabasePage.EmployeeDatabaseActivity"
            android:exported="false" />
        <activity
            android:name=".billersList.BillerListActivity"
            android:exported="false" />
        <activity
            android:name=".superHerosDetails.SuperHeroDetailActivity"
            android:exported="false" />
        <activity
            android:name=".eventPage.EventsActivity"
            android:exported="false" />
        <activity
            android:name=".logInPage.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".BaseBindingActivity"
            android:exported="false" />
        <activity
            android:name=".dashboardPage.NewDashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>